# Database
DATABASE_URL="postgresql://user:password@localhost:5432/philly_fests"

# Next.js
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Auth (TBD)
# AUTH_SECRET=

## TEST CREDENTIALS
# Email: admin@savephillyfestivals.org
# Password: admin123
